In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df_twitter = pd.read_csv("Twitter Data.csv")
df_twitter.head(2)

,URL,Verified,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link
0,twitter.com/_gr_SA,False,Non Verified Accounts,2021,Qtr 1,March,9,NaN,Greece,Has Description,113.0,True,Has Link
1,twitter.com/_idand,False,Non Verified Accounts,2021,Qtr 1,March,9,NaN,NaN,Has Description,10.0,True,Has Link

In [3]:
df_twitter.shape

(629, 13)

In [4]:
df_youtube = pd.read_csv("Youtube Channel Data.csv")
df_youtube.head(2)

,URL,Channel Has Title,Has Description,Location,Year,Quarter,Month,Day,Is Verified,Subscriber
0,youtube.com/channel/UCcQgYUSp3PORuZIQBsXdk4A,Has Title,No Description,NaN,2021,Qtr 1,March,10,NaN,1030.0
1,youtube.com/channel/UCcQgYUSp3PORuZIQBsXdk4A,Has Title,No Description,NaN,2021,Qtr 3,July,29,NaN,1030.0

In [5]:
df_youtube.shape

(1110, 10)

In [6]:
df_ytview = pd.read_csv("Youtube Views.csv")
df_ytview.head(2)

,Channel URL,Video URL,Views,Year,Quarter,Month,Day
0,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10
1,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=0B6Cu1ReY,5679,2021,Qtr 1,March,10

In [7]:
df_yte = df_youtube.drop(columns= ["Year","Quarter","Month","Day"])
df_yte.head(2)

,URL,Channel Has Title,Has Description,Location,Is Verified,Subscriber
0,youtube.com/channel/UCcQgYUSp3PORuZIQBsXdk4A,Has Title,No Description,NaN,NaN,1030.0
1,youtube.com/channel/UCcQgYUSp3PORuZIQBsXdk4A,Has Title,No Description,NaN,NaN,1030.0

In [8]:
df_ytview.rename(columns = {'Channel URL':'URL'}, inplace = True)

In [9]:
df_ytview.shape

(20315, 7)

In [10]:
df_yt = pd.merge(df_ytview, df_yte, how='left',on= "URL")
df_yt

,URL,Video URL,Views,Year,Quarter,Month,Day,Channel Has Title,Has Description,Location,Is Verified,Subscriber
0,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
1,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
2,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
3,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,ID,NaN,103000.0
4,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=0B6Cu1ReY,5679,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
81637,youtube.com/channel/UCBcYa34qB4j3qwNn9NgjlOp3,youtube.com/watch?v=fI3oE5Dgk,888,2021,Qtr 1,March,10,Has Title,Has Description,NaN,False,1600.0
81638,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,HK,NaN,3850.0
81639,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,False,3830.0
81640,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,False,3830.0
81641,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,False,3820.0

In [11]:
df_brand = pd.read_csv("Brand-Platform-URL.csv")
df_brand.head(2)

        Brand                    Market Platform                 URL
0  germanrosy  United States of America  Twitter  twitter.com/_gr_SA
1    carslord                     India  Twitter  twitter.com/_idand

In [12]:
df_brand.shape

(422, 4)

In [13]:
df_twit = pd.merge(df_twitter, df_brand, how= "left", on = "URL")
df_twit.head()

,URL,Verified,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link,Brand,Market,Platform
0,twitter.com/_gr_SA,False,Non Verified Accounts,2021,Qtr 1,March,9,NaN,Greece,Has Description,113.0,True,Has Link,germanrosy,United States of America,Twitter
1,twitter.com/_idand,False,Non Verified Accounts,2021,Qtr 1,March,9,NaN,NaN,Has Description,10.0,True,Has Link,carslord,India,Twitter
2,twitter.com/_nluay,True,Verified Accounts,2021,Qtr 1,March,9,NaN,Amsterdam,Has Description,31393.0,True,Has Link,vandawn,Argentina,Twitter
3,twitter.com/elllub,True,Verified Accounts,2021,Qtr 1,March,9,NaN,Deutschland Österreich Schweiz,Has Description,1326.0,True,Has Link,aquapeak,Austria,Twitter
4,twitter.com/_SAina,True,Verified Accounts,2021,Qtr 1,March,9,NaN,South Africa,Has Description,21731.0,True,Has Link,dualjape,Azerbaijan,Twitter

In [14]:
df_twit.shape

(629, 16)

- __df_yt, and df_twit are now the two final datasets that will be analyzed.__

In [15]:
df_yt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81642 entries, 0 to 81641
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   URL                81642 non-null  object
 1   Video URL          81642 non-null  object
 2   Views              81642 non-null  int64
 3   Year               81642 non-null  int64
 4   Quarter            81642 non-null  object
 5   Month              81642 non-null  object
 6   Day                81642 non-null  int64
 7   Channel Has Title  81642 non-null  object
 8   Has Description    81642 non-null  object
 9   Location           39703 non-null  object
 10  Is Verified        60375 non-null  object
 11  Subscriber         81356 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 8.1+ MB

In [16]:
df_yt["Year"].unique()

array([2021], dtype=int64)

In [17]:
df_yt["Month"].unique()

array(['March'], dtype=object)

In [18]:
df_yt["Quarter"].unique()

array(['Qtr 1'], dtype=object)

In [19]:
print((df_yt.isna().sum()/81642)*100,"%")

URL                   0.000000
Video URL             0.000000
Views                 0.000000
Year                  0.000000
Quarter               0.000000
Month                 0.000000
Day                   0.000000
Channel Has Title     0.000000
Has Description       0.000000
Location             51.369393
Is Verified          26.049092
Subscriber            0.350310
dtype: float64 %

- 51.36 percent values are missing from location column.

- We are not sure regarding the verification of some youtube channels.

- About 35% of the youtube channels have no record of its subscribers.

In [20]:
df_yt["Location"].unique()

array(['Indonesia', 'ID', nan, 'United States', 'US', 'AR', 'Argentina',
       'New Zealand', 'NZ', 'HU', 'Hungary', 'Pakistan', 'PK',
       'Australia', 'AU', 'Vietnam', 'VN', 'Malaysia', 'MY', 'Taiwan',
       'TW', 'Sweden', 'SE', 'Russia', 'RU', 'Paraguay', 'PY', 'Turkey',
       'TR', 'MA', 'Morocco', 'Poland', 'PL', 'CZ', 'Czechia', 'Egypt',
       'EG', 'South Africa', 'ZA', 'Bangladesh', 'BD', 'Kazakhstan', 'KZ',
       'AE', 'United Arab Emirates', 'France', 'FR', 'HK', 'Hong Kong',
       'AZ', 'Azerbaijan', 'IT', 'Italy', 'Uruguay', 'UY', 'Philippines',
       'PH', 'GR', 'Greece', 'ES', 'Spain', 'DE', 'Germany', 'CA',
       'Canada', 'IN', 'India', 'Netherlands', 'NL', 'FI', 'Finland',
       'Thailand', 'UA', 'Ukraine', 'Chile', 'CL', 'TH', 'Israel', 'IL',
       'Portugal', 'PT', 'Mexico', 'MX', 'GE', 'Georgia', 'SG',
       'Singapore', 'Japan', 'JP', 'GB', 'United Kingdom', 'BR', 'Brazil',
       'Latvia', 'LV', 'RS', 'Serbia', 'GH', 'Ghana'], dtype=object)

In [21]:
df_yt["Location"].mode()

0    Vietnam
Name: Location, dtype: object

- __Mode of the location variable is Vietnam so we can use mean imputation method to replace the missing values with the mode.__

In [22]:
df_yt.Location.unique()

array(['Indonesia', 'ID', nan, 'United States', 'US', 'AR', 'Argentina',
       'New Zealand', 'NZ', 'HU', 'Hungary', 'Pakistan', 'PK',
       'Australia', 'AU', 'Vietnam', 'VN', 'Malaysia', 'MY', 'Taiwan',
       'TW', 'Sweden', 'SE', 'Russia', 'RU', 'Paraguay', 'PY', 'Turkey',
       'TR', 'MA', 'Morocco', 'Poland', 'PL', 'CZ', 'Czechia', 'Egypt',
       'EG', 'South Africa', 'ZA', 'Bangladesh', 'BD', 'Kazakhstan', 'KZ',
       'AE', 'United Arab Emirates', 'France', 'FR', 'HK', 'Hong Kong',
       'AZ', 'Azerbaijan', 'IT', 'Italy', 'Uruguay', 'UY', 'Philippines',
       'PH', 'GR', 'Greece', 'ES', 'Spain', 'DE', 'Germany', 'CA',
       'Canada', 'IN', 'India', 'Netherlands', 'NL', 'FI', 'Finland',
       'Thailand', 'UA', 'Ukraine', 'Chile', 'CL', 'TH', 'Israel', 'IL',
       'Portugal', 'PT', 'Mexico', 'MX', 'GE', 'Georgia', 'SG',
       'Singapore', 'Japan', 'JP', 'GB', 'United Kingdom', 'BR', 'Brazil',
       'Latvia', 'LV', 'RS', 'Serbia', 'GH', 'Ghana'], dtype=object)

In [23]:
df_yt = df_yt.replace(["ID"],'Indonesia')
df_yt = df_yt.replace(["IT"],'Italy')
df_yt = df_yt.replace(["IN"],'India')
df_yt = df_yt.replace(["FR"],'France')
df_yt = df_yt.replace(["US"],'United States')
df_yt = df_yt.replace(["NZ"],'New Zealand')
df_yt = df_yt.replace(["HU"],'Hungary')
df_yt = df_yt.replace(["PK"],'Pakistan')
df_yt = df_yt.replace(["AU"],'Australia')
df_yt = df_yt.replace(["VN"],'Vietnam')
df_yt = df_yt.replace(["MY"],'Malaysia')
df_yt = df_yt.replace(["TW"],'Taiwan')
df_yt = df_yt.replace(["SE"],'Sweden')
df_yt = df_yt.replace(["RU"],'Russia')
df_yt = df_yt.replace(["PY"],'Paraguay')
df_yt = df_yt.replace(["SE"],'Sweden')
df_yt = df_yt.replace(["TR"],'Turkey')
df_yt = df_yt.replace(["MA"],'Morocco')
df_yt = df_yt.replace(["TR"],'Turkey')
df_yt = df_yt.replace(["PL"],'Poland')
df_yt = df_yt.replace(["CZ"],'Czechia')
df_yt = df_yt.replace(["EG"],'Egypt')
df_yt = df_yt.replace(["ZA"],'South Africa')
df_yt = df_yt.replace(["BD"],'Bangladesh')
df_yt = df_yt.replace(["KZ"],'Kazakastan')
df_yt = df_yt.replace(["AE"],'United Arab Emirates')
df_yt = df_yt.replace(["HK"],'Hong Kong')
df_yt = df_yt.replace(["AZ"],'Azerbaijan')
df_yt = df_yt.replace(["UY"],'Uruguay')
df_yt = df_yt.replace(["PH"],'Philippines')
df_yt = df_yt.replace(["GR"],'Greece')
df_yt = df_yt.replace(["ES"],'Spain')
df_yt = df_yt.replace(["DE"],'Germany')
df_yt = df_yt.replace(["CA"],'Canada')
df_yt = df_yt.replace(["NL"],'Neitherlands')
df_yt = df_yt.replace(["FI"],'Finland')
df_yt = df_yt.replace(["UA"],'Ukraine')
df_yt = df_yt.replace(["CL"],'Chile')
df_yt = df_yt.replace(["TH"],'Thailand')
df_yt = df_yt.replace(["IL"],'Israel')
df_yt = df_yt.replace(["PT"],'Portugal')
df_yt = df_yt.replace(["MX"],'Mexico')
df_yt = df_yt.replace(["GE"],'Georgia')
df_yt = df_yt.replace(["SG"],'Singapore')
df_yt = df_yt.replace(["JP"],'Japan')
df_yt = df_yt.replace(["GB"],'Great Britain(can be)')
df_yt = df_yt.replace(["BR"],'Brazil')
df_yt = df_yt.replace(["LV"],'Latvia')
df_yt = df_yt.replace(["RS"],'Serbia')
df_yt = df_yt.replace(["GH"],'Ghana')

In [24]:
df_yt.Location.unique()

array(['Indonesia', nan, 'United States', 'AR', 'Argentina',
       'New Zealand', 'Hungary', 'Pakistan', 'Australia', 'Vietnam',
       'Malaysia', 'Taiwan', 'Sweden', 'Russia', 'Paraguay', 'Turkey',
       'Morocco', 'Poland', 'Czechia', 'Egypt', 'South Africa',
       'Bangladesh', 'Kazakhstan', 'Kazakastan', 'United Arab Emirates',
       'France', 'Hong Kong', 'Azerbaijan', 'Italy', 'Uruguay',
       'Philippines', 'Greece', 'Spain', 'Germany', 'Canada', 'India',
       'Netherlands', 'Neitherlands', 'Finland', 'Thailand', 'Ukraine',
       'Chile', 'Israel', 'Portugal', 'Mexico', 'Georgia', 'Singapore',
       'Japan', 'Great Britain(can be)', 'United Kingdom', 'Brazil',
       'Latvia', 'Serbia', 'Ghana'], dtype=object)

- __The country codes were matched and then were replaced with the country name so as to ensure the reduction of unnecessary categories.__

In [25]:
df_yt.Location.nunique()

53

In [26]:
df_yt["Location"] = df_yt["Location"].fillna("Vietnam")

In [27]:
df_yt["Is Verified"] = df_yt["Is Verified"].fillna("True")

In [28]:
print((df_yt.isna().sum()/81642)*100,"%")

URL                  0.00000
Video URL            0.00000
Views                0.00000
Year                 0.00000
Quarter              0.00000
Month                0.00000
Day                  0.00000
Channel Has Title    0.00000
Has Description      0.00000
Location             0.00000
Is Verified          0.00000
Subscriber           0.35031
dtype: float64 %

In [29]:
df_yt

,URL,Video URL,Views,Year,Quarter,Month,Day,Channel Has Title,Has Description,Location,Is Verified,Subscriber
0,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
1,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
2,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
3,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=02dDB2JiM,4400,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,True,103000.0
4,youtube.com/channel/UC_KpTo38S7I2SwQgm1aqaQm2,youtube.com/watch?v=0B6Cu1ReY,5679,2021,Qtr 1,March,10,Has Title,Has Description,Indonesia,False,103000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
81637,youtube.com/channel/UCBcYa34qB4j3qwNn9NgjlOp3,youtube.com/watch?v=fI3oE5Dgk,888,2021,Qtr 1,March,10,Has Title,Has Description,Vietnam,False,1600.0
81638,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,True,3850.0
81639,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,False,3830.0
81640,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,False,3830.0
81641,youtube.com/channel/UCLD2RGCF68e34RmaauCioNs8,youtube.com/watch?v=jpnFx2Xg0,1790,2021,Qtr 1,March,10,Has Title,Has Description,Hong Kong,False,3820.0

In [30]:
mean = df_yt["Subscriber"].mean()
mean

93228.75276562269

In [31]:
df_yt["Subscriber"].skew()

2.839998570645101

In [32]:
median = df_yt["Subscriber"].median()
median

28200.0

In [33]:
mode = df_yt["Subscriber"].mode()
mode

0    209000.0
Name: Subscriber, dtype: float64

In [34]:
df_yt["Subscriber"] = df_yt["Subscriber"].fillna(209000)  #missing values filled with mode

In [35]:
print((df_yt.isna().sum()/81642)*100,"%")

URL                  0.0
Video URL            0.0
Views                0.0
Year                 0.0
Quarter              0.0
Month                0.0
Day                  0.0
Channel Has Title    0.0
Has Description      0.0
Location             0.0
Is Verified          0.0
Subscriber           0.0
dtype: float64 %

# Missing Values Successfully treated

In [36]:
df_twit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629 entries, 0 to 628
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   URL                      629 non-null    object
 1   Verified                 607 non-null    object
 2   Verified Accounts        607 non-null    object
 3   Year                     629 non-null    int64
 4   Quarter                  629 non-null    object
 5   Month                    629 non-null    object
 6   Day                      629 non-null    int64
 7   Name / ID                485 non-null    object
 8   Location                 289 non-null    object
 9   Has Description          629 non-null    object
 10  Followers                607 non-null    float64
 11  Status Available         607 non-null    object
 12  Accounts Without a Link  629 non-null    object
 13  Brand                    629 non-null    object
 14  Market                   629 non-null    object
 15  Platform                 629 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 83.5+ KB

In [37]:
df_twit["Followers"].skew()

5.108486564401691

In [38]:
df_twit["Followers"].mode()

0    1.0
Name: Followers, dtype: float64

In [39]:
df_twit["Followers"] = df_twit["Followers"].fillna(1.0)

In [40]:
df_twit.describe()

              Year         Day      Followers
count   629.000000  629.000000     629.000000
mean   2021.510334   20.157393    9734.812401
std       0.500291   11.007628   19146.919508
min    2021.000000    9.000000       0.000000
25%    2021.000000    9.000000     187.000000
50%    2022.000000   31.000000    2847.000000
75%    2022.000000   31.000000   11456.000000
max    2022.000000   31.000000  188739.000000

In [41]:
df_twit["Status Available"].mode()

0    True
Name: Status Available, dtype: object

In [42]:
df_twit["Status Available"] = df_twit["Status Available"].fillna("True")

In [43]:
df_twit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629 entries, 0 to 628
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   URL                      629 non-null    object
 1   Verified                 607 non-null    object
 2   Verified Accounts        607 non-null    object
 3   Year                     629 non-null    int64
 4   Quarter                  629 non-null    object
 5   Month                    629 non-null    object
 6   Day                      629 non-null    int64
 7   Name / ID                485 non-null    object
 8   Location                 289 non-null    object
 9   Has Description          629 non-null    object
 10  Followers                629 non-null    float64
 11  Status Available         629 non-null    object
 12  Accounts Without a Link  629 non-null    object
 13  Brand                    629 non-null    object
 14  Market                   629 non-null    object
 15  Platform                 629 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 83.5+ KB

In [44]:
df_twit["Name / ID"].unique()

df_twit["Name / ID"].mode()

0    Dove Men+Care
Name: Name / ID, dtype: object

In [45]:
df_twit["Name / ID"].fillna("Dove Men+Care")

0      Dove Men+Care
1      Dove Men+Care
2      Dove Men+Care
3      Dove Men+Care
4      Dove Men+Care
           ...
624          ダヴ Dove
625          ダヴ Dove
626          ダヴメン＋ケア
627          ダヴメン＋ケア
628          ダヴメン＋ケア
Name: Name / ID, Length: 629, dtype: object

In [58]:
df_twit = df_twit.drop_duplicates()
df_twit

,URL,Verified,Verified Accounts,Year,Quarter,Month,Day,Name / ID,Location,Has Description,Followers,Status Available,Accounts Without a Link,Brand,Market,Platform
0,twitter.com/_gr_SA,False,False,2021,Qtr 1,March,9,NaN,Greece,Has Description,113.0,True,Has Link,germanrosy,United States of America,Twitter
1,twitter.com/_idand,False,False,2021,Qtr 1,March,9,NaN,NaN,Has Description,10.0,True,Has Link,carslord,India,Twitter
2,twitter.com/_nluay,True,True,2021,Qtr 1,March,9,NaN,Amsterdam,Has Description,31393.0,True,Has Link,vandawn,Argentina,Twitter
3,twitter.com/elllub,True,True,2021,Qtr 1,March,9,NaN,Deutschland Österreich Schweiz,Has Description,1326.0,True,Has Link,aquapeak,Austria,Twitter
4,twitter.com/_SAina,True,True,2021,Qtr 1,March,9,NaN,South Africa,Has Description,21731.0,True,Has Link,dualjape,Azerbaijan,Twitter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,twitter.com/_jp,True,True,2021,Qtr 4,December,31,ダヴ Dove,NaN,Has Description,42943.0,True,Has Link,ironsoft,Slovenia,Twitter
625,twitter.com/_jp,True,True,2022,Qtr 2,May,9,ダヴ Dove,NaN,Has Description,41344.0,True,Has Link,ironsoft,Slovenia,Twitter
626,twitter.com/ejpnpy,False,False,2022,Qtr 2,May,9,ダヴメン＋ケア,NaN,Has Description,314.0,True,Has Link,handfoxy,Italy,Twitter
627,twitter.com/ejpnpy,True,True,2021,Qtr 4,December,31,ダヴメン＋ケア,NaN,Has Description,323.0,True,Has Link,handfoxy,Italy,Twitter
628,twitter.com/ejpnpy,True,True,2022,Qtr 1,January,31,ダヴメン＋ケア,NaN,Has Description,321.0,True,Has Link,handfoxy,Italy,Twitter

In [59]:
df_twit["Name / ID"].unique()

array([nan,
       "('Connection aborted.', HTTPException('got more than 100 headers'))",
       "'@Dove_ZA",
       "[{'code': 63, 'message': 'User has been suspended.'}]",
       '【公式】AXE/アックス', 'Account Takeover by natvarsinghc', 'Axe',
       'Axe Angels', 'Axe Azerbaijan', 'AXE Belgium', 'AXE Bolivia',
       'AXE Brasil', 'AXE Canada', 'AXE Chile', 'Axe Colombia',
       'AXE France', 'Axe Greece', 'AXE Indonesia', 'AXE Latinoamérica',
       'Axe México', 'AXE Middle East', 'AXE offiziell', 'Axe Paraguay',
       'Axe Philippines', 'AXE Russia', 'AXE South Africa', 'AXE Spain',
       'Axe Türkiye', 'Axe Uruguay', 'AXE Venezuela', 'axeargentina',
       'AXEThailand', 'Baby Dove Paraguay', 'Brut', 'Clear Arabia',
       'Clear Argentina', 'Clear Egypt', 'Clear Hair Care',
       'CLEAR Indonesia', 'CLEAR Malaysia', 'Clear Paraguay', 'CLEAR TH',
       'Clear Türkiye', 'Clear Uruguay', 'Clear Women', 'CLEAR(クリア)公式',
       'Clear.haircare', 'Closeup Philippines', 'Degree',
       'Degree - #NotDoneYet', 'Degree Canada', 'Degree Men (@Degree)',
       'Dove', 'Dove Arabia', 'Dove Bolivia', 'Dove Brasil',
       'Dove Canada', 'Dove Chile', 'Dove España', 'Dove Ghana',
       'dove greece', 'Dove India', 'Dove Indonesia', 'Dove Korea',
       'Dove Latinoamérica', 'Dove Men + Care', 'Dove Men +Care',
       'Dove Men Care Arabia', 'Dove Men Care ES', 'Dove Men Paraguay',
       'Dove Men+Care', 'Dove Men+Care Arg', 'Dove MEN+CARE SG',
       'Dove Men+Care TR', 'Dove México', 'Dove Pakistan',
       'Dove Paraguay', 'Dove Philippines', 'Dove TH', 'Dove Türkiye',
       'Dove UK & Ireland', 'Dove Uruguay', 'dove_ar', 'Dove_IDN',
       'DoveMenCarePH', 'DoveNL', 'Efecto Axe Ecuador',
       'Fair & Lovely Arabia', 'Fair & Lovely India', 'Fair & Lovely MY',
       "HTTPSConnectionPool(host='www.www.axeapollo.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8CACA0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.clearparis.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000175582A35E0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.clearparis.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C733AC0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.dovemen.cl', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8CAFA0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.elefectoaxe.com', port=443): Max retries exceeded with url: /web/ecuador (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8ACB50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.fairandlovely.in', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C90FA60>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.mydove.jp', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C72B790>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       "HTTPSConnectionPool(host='www.www.theaxeeffect.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8CA040>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))",
       'Lifebuoy', 'Lifebuoy Arabia', 'Lifebuoy Brasil',
       'Lifebuoy Canada', 'Lifebuoy FC', 'Lifebuoy Ghana',
       'Lifebuoy Pakistan', 'Lifebuoy Philippines', 'Lifebuoy UK & IE',
       'LifebuoyZA', 'Lynx', 'michele khan', 'Pepsodent Ghana',
       'Pepsodent India', 'Pepsodent Kenya', 'Pepsodent Nigeria',
       'Rexona', 'Rexona Arabia', 'Rexona Argentina', 'Rexona Australia',
       'Rexona Bolivia', 'Rexona Deutschland', 'Rexona El Salvador',
       'Rexona España', 'Rexona Ghana', 'Rexona Kenya',
       'Rexona Men Ecuador', 'Rexona Men France', 'Rexona Men Paraguay',
       'Rexona México', 'Rexona NG', 'Rexona Philippines',
       'Rexona Polska', 'Rexona Russia', 'Rexona Thailand',
       'Rexona Türkiye', 'Rexona Uruguay', 'Rexona Women PY',
       'Sedal Argentina', 'Sedal Bolivia', 'Sedal Paraguay',
       'Sedal Paraguay •', 'Sedal Perú', 'Sedal Uruguay', 'Shield Men',
       'Shield South Africa', 'Sunsilk Arabia', 'Sunsilk India',
       'Sunsilk Indonesia', 'Sunsilk Pakistan', 'Sunsilk PH',
       'Sunsilk Singapore', 'SUNSILKMALAYSIA', 'SunsilkThailand',
       'Sure UK & Ireland', 'Vida Sedal', 'ダヴ Dove', 'ダヴメン＋ケア'],
      dtype=object)

In [62]:
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.axeapollo.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8CACA0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"Axeappolo")
df_twit= df_twit.replace(["HTTPSConnectionPool(host='www.www.clearparis.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C733AC0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"clearparis")
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.clearparis.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x00000175582A35E0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"clearparis")
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.dovemen.cl', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8CAFA0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"dovemen")
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.elefectoaxe.com', port=443): Max retries exceeded with url: /web/ecuador (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8ACB50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"elefectoaxe")
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.fairandlovely.in', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C90FA60>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"fairandlovely")
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.mydove.jp', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C72B790>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"mydove")
df_twit = df_twit.replace(["HTTPSConnectionPool(host='www.www.theaxeeffect.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000029F0C8CA040>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))"],"theaxeeffect")
df_twit = df_twit.replace(["ダヴメン＋ケア"],"Dove Men + Care") #it's written in chinese dove men +care

In [63]:
name = df_twit.groupby("Name / ID")["Followers"].sum()
name.sort_values(ascending= True)

Name / ID
Dove_IDN                0.0
fairandlovely           1.0
dovemen                 1.0
mydove                  1.0
Axeappolo               1.0
                     ...
CLEAR Indonesia    162094.0
Lynx               176385.0
Dove               189802.0
Dove Men+Care      245965.0
Axe                662965.0
Name: Followers, Length: 153, dtype: float64

In [77]:
df_twit["Verified Accounts"].mode()

0    False
Name: Verified Accounts, dtype: object

In [64]:
df_twit["Verified Accounts"].mode()
df_twit["Verified"].mode()
df_twit["Location"].mode()

0         Argentina
1    United Kingdom
Name: Location, dtype: object

In [65]:
df_twit["Verified Accounts"] = df_twit["Verified Accounts"].fillna("Non Verified Accounts")
df_twit["Verified Accounts"] = df_twit["Verified"].fillna("False")

In [66]:
df_twit["Location"].unique()

array(['Greece', nan, 'Amsterdam', 'Deutschland Österreich Schweiz',
       'South Africa', 'Argentina', 'Azərbaycan', 'Brasil', 'Canada',
       'México', 'Philippines', 'El Paraíso', 'United Kingdom',
       'Thailand', 'United States', 'Middle East', 'Mexico City',
       'Rotterdam', 'Hamburg, Germany', 'Pakistan', 'Uruguay', 'Accra',
       'India', 'Arabia', 'Australia', 'Brazil', 'Santiago, Chile.',
       'Paraguay', 'Accra Ghana', 'UK', 'Lima-Perú', 'Kenya', 'Indonesia',
       'Ghana', 'Ecuador', 'France', 'Asunción, Paraguay', 'Nigeria',
       'Warsaw, Poland', 'Bolivia', 'Malaysia', 'Manila, Philippines',
       'Karachi, Pakistan', 'España'], dtype=object)

# Handling Errenous values

In [67]:
df_twit[(df_twit["Location"] == "ประเทศไทย")]

Empty DataFrame
Columns: [URL, Verified, Verified Accounts, Year, Quarter, Month, Day, Name / ID, Location, Has Description, Followers, Status Available, Accounts Without a Link, Brand, Market, Platform]
Index: []

In [68]:
df_twit = df_twit.replace(['ประเทศไทย'],'Argentina')
df_twit = df_twit.replace(['#DoTheLifebuoy'],'United Kingdom')
df_twit = df_twit.replace(['nan'],'United Kingdom')

In [69]:
df_twit["Location"].unique()

array(['Greece', nan, 'Amsterdam', 'Deutschland Österreich Schweiz',
       'South Africa', 'Argentina', 'Azərbaycan', 'Brasil', 'Canada',
       'México', 'Philippines', 'El Paraíso', 'United Kingdom',
       'Thailand', 'United States', 'Middle East', 'Mexico City',
       'Rotterdam', 'Hamburg, Germany', 'Pakistan', 'Uruguay', 'Accra',
       'India', 'Arabia', 'Australia', 'Brazil', 'Santiago, Chile.',
       'Paraguay', 'Accra Ghana', 'UK', 'Lima-Perú', 'Kenya', 'Indonesia',
       'Ghana', 'Ecuador', 'France', 'Asunción, Paraguay', 'Nigeria',
       'Warsaw, Poland', 'Bolivia', 'Malaysia', 'Manila, Philippines',
       'Karachi, Pakistan', 'España'], dtype=object)

In [70]:
df_twit.isna().sum()

URL                          0
Verified                    22
Verified Accounts            0
Year                         0
Quarter                      0
Month                        0
Day                          0
Name / ID                  144
Location                   340
Has Description              0
Followers                    0
Status Available             0
Accounts Without a Link      0
Brand                        0
Market                       0
Platform                     0
dtype: int64

In [78]:
df_twit["Name / ID"] = df_twit["Name / ID"].fillna("Axe")
df_twit["Location"] = df_twit["Location"].fillna("Vietnam")
df_twit["Verified"] = df_twit["Verified"].fillna("False")

In [79]:
df_twit.isna().sum()

URL                        0
Verified                   0
Verified Accounts          0
Year                       0
Quarter                    0
Month                      0
Day                        0
Name / ID                  0
Location                   0
Has Description            0
Followers                  0
Status Available           0
Accounts Without a Link    0
Brand                      0
Market                     0
Platform                   0
dtype: int64

In [80]:
df_yt.to_csv("youtube.csv")

In [81]:
df_twit.to_csv("twitter.csv")